
body {
  margin: 0;
  background-image: url('./img/Pattern.png');
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#root{
  margin:0px;
  padding:0px;
}

h1{
  text-align: center;
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
  font-family: "Exo 2.0- Thin";
  font-size: 2.25rem;
  margin-top:36px;
  font-weight: 400;
  margin-bottom: 26px;
}


.app{
  margin-top: 0%;
  height: 100vh;
  width: 100vw;
}

.Goodlist{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left:3.125vw;
  padding-right:3.125vw;
}
.good{
  margin-left: 3.12vw;
  margin-right:3.12vw;
  height: 509px;
  width: 320px;
}

@media screen and (max-width:1279px){
  
  .Goodlist{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left:1%;
    padding-right:1%;
  }

  .good{
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (max-width:1023px){
  .Goodlist{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .good{
    margin-bottom: 20px;
  }
  .app{
    height: 100%;
  }
}

/* общий стиль для  блоков с товаром*/

.Goodlist .default, .Goodlist .disabled, .Goodlist .enable{    
  font-family: "Trebuchet MS"; 
  width: 320px;
  height: 480px;
  margin-bottom: 10px;
  position: relative;
}
  /*стилизация элементов товара номера от 1-7 самый верхний элемент под номером 1 */
.foodseventh{
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  border-radius: 50%;
  color: #ffffff;
  font-family: "Trebuchet MS";
  font-weight: 400;
  line-height: 0;
  text-align: center;
  font-size: 21px;
}
.foodseventh span{
  line-height: 1.5;
  font-size: 42px;
}

.foodsixth{
  position: absolute;
  bottom: 4px;
  left: 5px;
  border-radius: 7px;
  
}

.foodfifth{
  width: 127px;
  color: #666666;
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 16px;
  margin-left: 48px;
}
.foodforth{
  margin-left: 48px;
  width: 127px;
  color: #666666;
  font-family: "Trebuchet MS";
  font-size: 14px;
  line-height: 16px;
}

.foodthird{
  margin-left: 48px;
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 24px;
  margin-top:4px;
  font-weight: 700;
  margin-bottom: 16px;
}


.foodsecond{
  color: #000000;
  font-family: "Trebuchet MS";
  font-size: 48px;
  font-weight: 700;
  margin-top:-13px;
  margin-left: 46px;
}

.foodfirst{
  line-height: 4;
  font-family: "Trebuchet MS";
  font-size: 16px;
  margin-left: 48px;
}



/* стили для товаров*/

.default{
  background-image: url('./img/default.svg');
  cursor: pointer;
  }
  .default .foodseventh{
    background-color: #1698d9;
  }

  .enable{
    background-image: url('./img/2-layers.svg');
    cursor: pointer;
  }
  .enable .foodseventh{
    background-color: #d91667;
  }


  .disabled{
    background-image: url('./img/disabled.svg');
  }
  .disabled .foodseventh{
    background-color: #b3b3b3;
  }

  .disabled h2 , .disabled h3, .disabled p, .disabled img{
    opacity: 0.5;
    color: #b3b3b3;
  }

  /* стилизация нижнего описания товара*/
.textafter{
  font-family: "Trebuchet MS";
  font-size: 13px;
  text-align: center;
}

.buyit{
  color: #1698d9;
  border-bottom:dashed 1px #1698d9;
  cursor: pointer;
  margin-top: 14px;
}